*.h5
*.zip
.ipynb_checkpoints/
__pycache__/
/chapter-07-neural-nets/clothing-dataset-small/
/chapter-09-kubernetes/clothing-model/
/chapter-09-kubeflow/clothing-model/
*.tflite
/data/train/
/data/test/